/*index页面*/
.my-fa-x {
    font-size: 1.25em;
}
/*index_content页面*/
.uinn-1 {
    padding: 0.9275em 0 0 0;
}
.uc-a-1 {
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
}
.icon-1 {
    height: 3.125em;
    width: 3.125em;
}
.icon-2 {
    height: 1.375em;
    width: 1.375em;
}